<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOouCvP6Qjgiy2oxTPf5BWkMimyR5pH1g</string>
	<key>GCM_SENDER_ID</key>
	<string>415546057187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toyotamobile.tservicetechnicianapp</string>
	<key>PROJECT_ID</key>
	<string>t-service-4ace9</string>
	<key>STORAGE_BUCKET</key>
	<string>t-service-4ace9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>firebase_messaging_auto_init_enabled</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415546057187:ios:8a774cb7265aea35a680d6</string>
</dict>
</plist>